body {
	background-color: #00bfff;
	font-size: 12px;
	font-family: Arial;
}

img {
	height: 35px;
	display: block;
	margin: auto;
	padding: 2.5em;
}

.first-form fieldset {
	width: 320px;
	height: 400px;
	padding-left: 40px;
	padding-right: 40px;
	background-color: white;
	box-sizing: border-box;
	border: none;
	margin: auto;

}

h1 {
	font-family: Arial;
	font-weight: lighter;
	font-size: 24px;
	color: grey;
	padding-left: 35%;

}

.first-form label {
	display: block;
	font-size: 12px;
	font-family: Arial;
	color: black;
	padding-bottom: 1em;
	padding-top: 1em;

}

.first-form input {
	display: block;
	width: 320px;
	height: 55px;
	padding: 15px;
	border: 2px solid lightgrey; 
	box-sizing: border-box;


}

.first-form input::placeholder {
	color: lightgrey;

}

.first-form button {
	display: block;
	width: 320px;
	height: 55px;
	padding: 15px;
	border: 2px;
	background-color: lightgreen;
	font-size: 24px;
	font-family: Arial;
	color: white;
	

}

.button: hover {
	background-color: green;

}

p {
	text-align: center;
	color: white;
}

a {
	color: white;

}
